<div class='gift-card-code-lookup'>
  <%= form_for :gift_card, url: admin_virtual_gift_cards_path, method: 'GET' do |f| %>
    Redemption code: <%= f.text_field :redemption_code %><br />
    <%= f.submit 'Lookup Gift Card', class: 'lookup-gift-card-button' %>
  <% end %>
</div>
